.About {
  max-width: 800px;
  margin-top: 8rem;
  margin-left: 20%;
  padding: 20px;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
